body{
    background: #f2f2f2;
}

/*banner轮播样式*/
.banner .swiper-wrapper,.banner .swiper-slide{
    height: inherit;
}

.banner .swiper-slide p{
    line-height: 34px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #C3C3C3;
    background: #fff;
}

.banner .swiper-pagination-bullet{
    background: initial;
    opacity: 1;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.banner .swiper-pagination-bullet-active{
    background: #fff;
}

.wrapper .swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 44px;
}


/*功能模块*/
.wrapper .module{
    padding: 10px 0;
}

.wrapper .module .Mchild{
    float: left;
    width: 16%;
    margin: 0 4.5%;
}

.wrapper .module .Mchild p{
    text-align: center;
    line-height: 30px;
    color: #555;
}