.wrapper{
    height: 100%;
    width: 100%;
    background: url("../../static/images/loginBg.png");
    background-size: 100% 100%;
}

.loginTitle{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    padding-top: 22px;
}

.loginForm{
    margin-top: 30px;
    text-align: center;
}

.loginForm input{
    margin-bottom: 14px;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    width: 70%;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #535353;
    padding-left: 40px;
}

.loginForm input::placeholder{
    color: #915419;
}

.username{
    background: url("../../static/images/username.png") no-repeat left 10px center;
    background-size: 20px 20px;
}

.password{
    background: url("../../static/images/password.png") no-repeat left 10px center;
    background-size: 20px 20px;
}

.error{
    display: none;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    color: #f12312;
    text-align: center;
}

.submit{
    line-height: 40px;
    width: 30%;
    font-size: 20px;
    margin: 0 auto;
    background: #915419;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-family: 'SimHei';
    margin-top: 20px;
}